@CHARSET "UTF-8";
body {
	font-family: Helvetica, sans-serif;
}

.tree {
	position: absolute;
	
}

.view {
	position: relative;
	left: 15%;
	width: 50%;
}

.retour {
	position: absolute;
	margin-left: 15%
}

.selected {
	background-color: red;
}