{% extends 'layout.html' %}

{% block content %}
	<h2>Propri&eacute;t&eacute; : {{Property.nom | default "Pas de nom"}}</h2>
	<cite>Description : {{Property.description | default "Pas de description"}}</cite><br><br>
	<cite>Range : {% for range in Property.range %}
		{{range}}, 
	{% endfor %}</cite><br><br>
	Liste de ses domaines : 
	<ul>
		{% for entity in Property.domain %}
		<li><a href="?type=Entity&amp;value={{entity.nom}}">{{entity.nom}}</a></li>
		{% endfor %}
	</ul>
	<a href="./">Retour à index</a>
	<br>
{% endblock %}

{% block trol %}
{% endblock %}
